
/* Global Styles */


body {
  background-color: black;
  font-family: sans-serif;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

}
#main {
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}


/* Dashoard Styles */

.dashboard-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.balance-container {
  font-size: 35px;
  font-weight: bold;
  color: whitesmoke;

  justify-content: center;
  align-items: center;
  display: flex;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  margin-bottom: 10px;
}


.listing-container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(119, 109, 109, 0.363);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.list {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wallet-name {
  background-color: #776d6d5d;
  height: 30px;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
}



/* ........................... */




/* Send/Receive Styles */

.back-button-container {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.back-button {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}

.send-input-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}








/* ...................... */





/* -------- listing component ---------  */

.listing-row-container{
  width:90%;
  height: 50px;
  margin-top: 10px ;
  display: flex;


  
}



.left-row-container{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  
  
  

}
.right-row-container{
  width: 30%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  
  
  
}

.image-container {
  width: 35px;
  height: 35px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  
  
}
.row-image {
  width: 25px ;
  height: 25px;
  

}
.row-left-title-container {
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.row-right-title-container {
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;

}


.row-title {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  color:whitesmoke;
  align-items: center;
  
  

}

.arrow-down { 
  width: 10px;
  height:10px;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
}

.row-title-2 { 
margin-left: 5px;
font-size: 12px;
color:#c9c4c4;
display: flex;
justify-content: center;
align-items: center;
}

.row-subtitle { 
  font-size: 14px;
  color:rgb(201, 196, 196);
}

/* Header Component  */

.header-container {
  width: 90%;
  height: 10%;
  
  
}

.header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
  
}

.back-button-container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color:#c9c4c4;
}

.back-icon{
  width:25px;
  height: 25px;
  border-radius: 20px;
  background-color: white;
  margin-right: 10px;
  

}

.header-title {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: large;
}




 /* input-Styles */


 .input {
  height: 50px;
  background-color: black;
  border: 2px solid whitesmoke;
  border-radius: 200px;
  width: 90%;
  color: whitesmoke;
  font-weight: bold;
  padding-left: 10px;

  font-size: 12px;
}

 .input-container {

  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


 }

 .add-asset-listing-container { 

  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ---------- Switch Styles--------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #33f321;
}

input:focus + .slider {
  box-shadow: 0 0 1px  #33f321;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



