:root {
  --background-color-dark: black;
  --font-color-lite: rgba(255, 255, 255, 0.977);
  --title-background-color: #776d6d5d;
}
/* routes styles */
body {
  background-color: var(--background-color-dark);
  font-family: Sans-serif;
  color: var(--font-color-lite);
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#main {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.upper-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  flex: 1;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.horizontal-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
  height: 100px;
}
.title {
  background-color: var(--title-background-color);
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}
.token-icon-container {
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.token-icon-wrapper {
  height: 8rem;
  width: 8rem;
  border-radius: 5rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.token-image {
  width: 40%;
  height: 40%;
}
.label {
  width: 90%;
  height: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  word-wrap: break-word;
}
.transaction-container {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
/* components styles */
.header-container {
  width: 90%;
  height: 10%;
}
.header {
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: center;
  position: relative;
}
.back-button-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #c9c4c4;
  position: absolute;
  left: 0;
}
.back-icon {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: white;
  margin-right: 10px;
}
.header-title {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: center;
}
.header-right-container {
  width: "25%";
}
.qr-code-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.503);
}
.loader {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(46, 45, 45);
  border-radius: 20px;
}
.loader-spin {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #a5a8aa;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.transaction-item {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.tx-content-container {
  width: 80%;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 10px;
}
.tx-title {
  width: 70%;
  height: 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  color: var(--font-color-lite);
}
.tx-amount {
  width: 30%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  font-size: 17px;
  font-weight: bold;
  color: var(--font-color-lite);
}
.txn-address {
  width: 100%;
  justify-content: flex-start;
  overflow-wrap: anywhere;
  font-size: 13px;
  color: var(--font-color-lite);
}
.tx-icon-container {
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.tx-icon {
  width: 50px;
  height: 50px;
  background-color: var(--font-color-lite);
  border-radius: 100px;
}
